/*!********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./sass/app.sass ***!
  \********************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
/*!************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./sass/app.sass (1) ***!
  \************************************************************************************************************************************/
.meter .min {
  float: left;
}
.meter .min + meter {
  clear: both;
}
.meter .max {
  float: right;
}
.meter .max + meter {
  clear: both;
}
.meter .with-prefix {
  display: flex;
}
.meter .with-prefix div:first-child {
  text-align: right;
  margin-right: 1rem;
}
.meter .with-prefix div:nth-child(2) {
  width: 100%;
}
.meter meter {
  background: #ececec;
  margin: 0;
  min-width: 80px;
}
.meter meter::-moz-meter-bar {
  background: #1e87f0;
  border-radius: 500px;
}

@media (min-width: 960px) {
  .dashboard-performance-chart {
    max-width: 400px;
    width: 100%;
    display: block;
  }
}
.loading {
  margin-left: 5px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading.in-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.loading i::before {
  animation: rotate 2s infinite linear;
}

.chart {
  position: relative;
}

html {
  font-weight: 300;
}

.richy-green {
  color: #00C853;
}

.richy-red {
  color: #EF476F;
}

.richy-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 300px !important;
  padding: 45px 45px 60px 45px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}

.richy-flex-gap {
  gap: 15px;
}

.richy-hand {
  cursor: pointer;
}

main {
  padding: 20px;
}

@media (min-width: 960px) {
  main {
    margin-left: 300px;
    padding: 45px;
  }
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

.uk-navbar-container {
  background-color: #1e87f0 !important;
}
.uk-navbar-container i {
  color: #fff;
}

.uk-label {
  font-size: 12px;
}

table {
  font-size: 14px;
  white-space: nowrap;
}

/*# sourceMappingURL=app_build.css.map*/