- load widget_tweaks

- include "_form_field.pug" with field=form.parents
- include "_form_field.pug" with field=form.date is_datepicker=True
- include "_form_field.pug" with field=form.currency
- include "_form_field.pug" with field=form.exchange
- include "_form_field.pug" with field=form.item
- include "_form_field.pug" with field=form.amount
- include "_form_field.pug" with field=form.price
- include "_form_field.pug" with field=form.fee
- include "_form_field.pug" with field=form.target
- include "_form_field.pug" with field=form.note
- include "_form_field.pug" with field=form.is_deposit
- include "_form_field.pug" with field=form.is_closing
- include "_form_field.pug" with field=form.is_closed
- include "_form_field.pug" with field=form.closed_on is_datepicker=True
- include "_form_field.pug" with field=form.attachments
