- extends "core/base.pug"

- load i18n
- load widget_tweaks
- load utils

- block content

    - include "_title_bc.pug"

    - if has_shares or has_coins or has_etfs

        ul(uk-tab="swiping: false" uk-switcher)
            - if has_shares
                li: a(href="#shares") {% trans "Shares" %}
            - if has_etfs
                li: a(href="#shares") {% trans "ETFs" %}
            - if has_coins
                li: a(href="#coins") {% trans "Coins" %}

        ul.uk-switcher.uk-margin
            - if has_shares
                li
                    ul(uk-tab="swiping: false" uk-switcher)
                        - for currency in currencies.share
                            li: a(href="#") {{ currency }}

                    ul.uk-switcher.uk-margin
                        - for currency in currencies.share
                            li
                                h3 {% trans "Profit" %}
                                chart(
                                    name="shares-profit-{{ currency }}"
                                    height="500"
                                    url="{% url 'transactions:shares_profits_chart_fetch' currency %}"
                                    options="{{ assets_non_stacking_chart_options }}"
                                )

                                h3 {% trans "Asset allocation (market value)" %}
                                chart(
                                    name="shares-allocation-market-value-{{ currency }}"
                                    height="500"
                                    url="{% url 'transactions:shares_asset_alloc_chart_fetch' currency %}"
                                    options="{{ assets_non_stacking_chart_options }}"
                                )

                                h3 {% trans "Asset allocation" %}
                                chart(
                                    name="shares-allocation-{{ currency }}"
                                    height="500"
                                    url="{% url 'transactions:shares_asset_alloc_chart_fetch' currency %}"
                                    type="area"
                                    options="{{ assets_stacking_chart_options }}"
                                )
            
            - if has_etfs
                li
                    ul(uk-tab="swiping: false" uk-switcher)
                        - for currency in currencies.etf
                            li: a(href="#") {{ currency }}

                    ul.uk-switcher.uk-margin
                        - for currency in currencies.etf
                            li
                                h3 {% trans "Profit" %}
                                chart(
                                    name="etfs-profit-{{ currency }}"
                                    height="500"
                                    url="{% url 'transactions:etfs_profits_chart_fetch' currency %}"
                                    options="{{ assets_non_stacking_chart_options }}"
                                )
                                
                                h3 {% trans "Asset allocation (market value)" %}
                                chart(
                                    name="etfs-allocation-market-value-{{ currency }}"
                                    height="500"
                                    url="{% url 'transactions:etfs_asset_alloc_chart_fetch' currency %}"
                                    options="{{ assets_non_stacking_chart_options }}"
                                )
                                
                                h3 {% trans "Asset allocation" %}
                                chart(
                                    name="etfs-allocatio-{{ currency }}n"
                                    height="500"
                                    url="{% url 'transactions:etfs_asset_alloc_chart_fetch' currency %}"
                                    type="area"
                                    options="{{ assets_stacking_chart_options }}"
                                )

            - if has_coins
                - for currency in currencies.coin
                    li
                        h3 {% trans "Profit" %}
                        chart(
                            name="coins-profi-{{ currency }}t"
                            height="500"
                            url="{% url 'transactions:coins_profits_chart_fetch' currency %}"
                            options="{{ assets_non_stacking_chart_options }}"
                            :is-coin="true"
                        )

                        h3 {% trans "Asset allocation (market value)" %}
                        chart(
                            name="coins-allocation-market-value-{{ currency }}"
                            height="500"
                            url="{% url 'transactions:coins_asset_alloc_chart_fetch' currency %}"
                            options="{{ assets_non_stacking_chart_options }}"
                            :is-coin="true"
                        )

                        h3 {% trans "Asset allocation" %}
                        chart(
                            name="coins-allocatio-{{ currency }}n"
                            height="500"
                            url="{% url 'transactions:coins_asset_alloc_chart_fetch' currency %}"
                            type="area"
                            options="{{ assets_stacking_chart_options }}"
                            :is-coin="true"
                        )
