- extends "core/base.pug"

- load i18n
- load widget_tweaks
- load utils

- block content

    - include "_title_bc.pug"

    - if transactions
        div(class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid)
            div
                h2 {% trans "Open transactions" %}
                .uk-overflow-auto
                    table.uk-table.uk-table-small.uk-table-divider.uk-table-striped
                        thead
                            tr
                                th {% trans "Date" %}
                                th {% trans "Symbol" %}
                                th {% trans "Amount" %}
                                th {% trans "Price" %}
                                th {% trans "Deposit" %}
                                th {% trans "Closing" %}
                                th
                                th
                        tbody
                            - for t in transactions
                                - ifchanged
                                    tr
                                        td(colspan="9"): h4 {{ t.date|date:"Y" }}
                                tr
                                    td
                                        a(href="{% url 'transactions:closed_detail' t.pk %}") {{ t.date }}
                                    td
                                        - if t.item.share
                                            a(href="{% url 'shares:share_detail' t.user_item %}") {{ t.item.symbol }}
                                        - elif t.item.coin
                                            a(href="{% url 'coins:coin_detail' t.user_item %}") {{ t.item.symbol }}
                                        - elif t.item.is_etf
                                            a(href="{% url 'etfs:etf_detail' t.user_item %}") {{ t.item.symbol }}

                                        - if t.note
                                            | &nbsp;
                                            i.bi.bi-question-circle-fill(aria-label="{{ t.note }}")

                                    td {{ t.amount }}
                                    td {{ t.price|autofloatformat|default:"-" }}
                                    td
                                        - if t.is_deposit
                                            i.bi.bi-check2
                                    td
                                        - if t.is_closing
                                            i.bi.bi-check2
                                    td
                                        a(href="{% url 'transactions:delete' t.pk %}", title="{% trans 'Delete transaction' %}")
                                            i.bi.bi-trash
                                    td
                                        a(href="{% url 'transactions:update' t.pk %}", title="{% trans 'Update transaction' %}")
                                            i.bi.bi-pencil

            div 
                - include "transactions/_investment_vs_revenue_charts.pug"
    - else
        p.
            {% blocktrans %}
                No closed transactions.
            {% endblocktrans %}
