- extends "core/base.pug"

- load i18n
- load widget_tweaks
- load utils
- load humanize
- load transactiontags

- block content

    - include "_title_bc.pug"

    h2 {% trans "Basic info" %}

    p.uk-text-right
        a.uk-button.uk-button-primary(href="{% url 'transactions:update' object.pk %}" class="uk-width-expand@s uk-width-auto@m")
            i.bi.bi-pencil
            | 
            | {% trans "edit" %}

    .uk-margin-bottom(class="uk-child-width-expand@s" uk-grid)
        div
            dl.uk-description-list
                dt {% trans "Item" %}
                dd
                    - if object.item.is_share
                        a(href="{% url 'shares:share_detail' object.get_user_item.pk %}") {{ object.item.symbol }}
                    - elif object.item.is_etf
                        a(href="{% url 'etfs:etf_detail' object.get_user_item.pk %}") {{ object.item.symbol }}
                    - elif object.item.is_coin
                        a(href="{% url 'coins:coin_detail' object.get_user_item.pk %}") {{ object.item.symbol }}

                dt {% trans "Amount" %}
                dd {{ object.amount }}

                dt {% trans "Price" %}
                dd {{ object.price }} {{ object.currency }}

                dt {% trans "Fee" %}
                dd {{ object.fee }}

                dt {% trans "Date" %}
                dd {{ object.date }}

                dt {% trans "Exchange" %}
                dd {{ object.exchange.title|default:"-" }}

                dt {% trans "Is closing" %}
                dd {{ object.is_closing|yesno }}

                dt {% trans "Is closed" %}
                dd {{ object.is_closed|yesno }}

                dt {% trans "Is deposit" %}
                dd {{ object.is_deposit|yesno }}
        div
            dl.uk-description-list
                dt {% trans "Note" %}
                dd {{ object.note|default:"-" }}

                dt {% trans "Target" %}
                dd
                    - if object.target
                        - if object.item.is_coin
                            | {{ object.target_as_absolute_value|coinautofloatformat }} ({{ object.target_as_percents|coinautofloatformat }}%)
                        - else
                            | {{ object.target_as_absolute_value|autofloatformat }} ({{ object.target_as_percents|autofloatformat }}%)
                    - else 
                        | -

                dt {% trans "Attachments" %}
                dd

                    - if object.attachment_set.all
                        ul.uk-list

                            - for attachment in object.attachment_set.all
                                li
                                    i.bi.bi-paperclip
                                    a(href="{{ attachment.file.url }}" target="_blank") {{ attachment.file.name|filename }}

                    - else
                        | -
                
                dt {% trans "Parents" %}
                dd
                    - if object.parents.exists
                        - for p in object.parents.all
                            a(href="{% transaction_url p %}") {{ p.pk }}{% if not forloop.last %}, {% endif %}
                    - else
                        | -


    h2 {% trans "Stats" %}
    .uk-margin-bottom(class="uk-child-width-expand@s" uk-grid)
        div
            ul
                - for label, value in basic_stats_data.text.items
                    .uk-grid-small(uk-grid)
                        .uk-width-expand(uk-leader) {{ label }}
                        div
                            - if object.item.is_coin
                                | {{ value|coinautofloatformat|intcomma }}
                            - else
                                | {{ value|autofloatformat|intcomma }}
            .uk-margin-medium-top
                chart(
                    name="investment-and-revenue-bar"
                    :is-stock="false"
                    :is-coin=("true" if object.item.is_coin() else "false")
                    type="column"
                    height="200"
                    options="{{ inv_and_rev_chart_options|to_json }}"
                    :series="{{ basic_stats_data.investment_and_revenue|to_json }}"
                )
        div
            ul(uk-tab="swiping: false" uk-switcher)
                li: a(href="#") {% trans "Percents" %}
                li: a(href="#") {% trans "Price" %}
            ul.uk-switcher.uk-margin
                li
                    item-chart(
                        name="price-percents"
                        url="{% url 'transactions:fetch_prices' object.pk %}"
                        height="410"
                        symbol="{{ object.symbol }}"
                        :option-overrides="{{ price_chart_overrides|to_json }}"
                        :percents="true"
                        :plot-lines="true"
                        :is-coin=("true" if object.item.is_coin() else "false")
                    )
                li
                    item-chart(
                        name="price"
                        url="{% url 'transactions:fetch_prices' object.pk %}"
                        height="410"
                        symbol="{{ object.symbol }}"
                        :option-overrides="{{ price_chart_overrides|to_json }}"
                        :plot-lines="true"
                        :is-coin=("true" if object.item.is_coin() else "false")
                    )

    - with prevs=object.parents.all next_pk=object.transaction_set.first.pk

        h2 {% trans "Graph" %}
        img.uk-align-center(src="{{ graph.image.url }}")

        ul.uk-pagination
            - for prev in prevs
                li
                    - if object.is_closed
                        a(href="{% url 'transactions:closed_detail' prev.pk %}")
                            - if forloop.first
                                span.uk-margin-small-right(uk-pagination-previous)
                            {{ prev.pk }}
                    - else
                        a(href="{% url 'transactions:open_detail' prev.pk %}")
                            - if forloop.first
                                span.uk-margin-small-right(uk-pagination-previous)
                            {{ prev.pk }}

            - if next_pk
                li.uk-margin-auto-left
                    - if object.is_closed
                        a(href="{% url 'transactions:closed_detail' next_pk %}")
                            {{ next_pk }}
                            span.uk-margin-small-left(uk-pagination-next)
                    - else
                        a(href="{% url 'transactions:open_detail' next_pk %}")
                            {{ next_pk }}
                            span.uk-margin-small-left(uk-pagination-next)

    - if open_stakings or closed_stakings
        h2 {% trans "Stakings" %}
        - include "transactions/detail/_stakings_table.pug"
