- extends "core/base.pug"

- load i18n
- load widget_tweaks
- load utils

- block content

    - include "_title_bc.pug"

    h2 {% trans "Basic info" %}

    dl.uk-description-list
        dt {% trans "Ex. date" %}
        dd {{ object.dividend.ex_date }}

        dt {% trans "Payment date" %}
        dd {{ object.dividend.payment_date }}

        dt {% trans "Receive date" %}
        dl {{ object.dividend.receive_date }}

    dl.uk-description-list
        dt {% trans "Yield" %}
        dd {{ object.dividend.yield_value }}%

        dt {% trans "Amount" %}
        dd {{ object.dividend.amount_value }}

    h2 {% trans "Transaction" %}

    dl.uk-description-list
        dt {% trans "For" %}
        dd {{ object.shares }} {% trans "shares" %}

        dt {% trans "Amount" %}
        dd {{ object.amount|autofloatformat }} {{ object.dividend.share.transaction_set.first.currency }}
