- extends "core/base.pug"

- load i18n
- load utils
- load humanize

- block content

    - include "_title_bc.pug"

    p.uk-text-right
        button.uk-button.uk-button-primary(type="button" class="uk-width-expand@s uk-width-auto@m" uk-toggle="target: #new-transaction")
            i.bi.bi-plus
            | 
            | {% trans "new transaction" %}

    - if transactions
        h2 {% trans "Overview" %}

        ul(uk-tab="swiping: false" uk-switcher)

            - if transactions_overview_data.share
                li: a(href="#") {% trans "Shares" %}
            - if transactions_overview_data.coin
                li: a(href="#") {% trans "Coins" %}
            - if transactions_overview_data.etf
                li: a(href="#") {% trans "ETFs" %}

        ul.uk-switcher
            - if transactions_overview_data.share
                li: chart(
                        name="transactions-overview-share",
                        :is-stock="false",
                        type="column",
                        height="400",
                        options="{{ transactions_overview_data.share.options }}",
                        :series="{{ transactions_overview_data.share.data|to_json }}"
                    )
            - if transactions_overview_data.coin
                li: chart(
                        name="transactions-overview-coin",
                        :is-stock="false",
                        :is-coin="true",
                        type="column",
                        height="400",
                        options="{{ transactions_overview_data.coin.options }}",
                        :series="{{ transactions_overview_data.coin.data|to_json }}"
                    )
            - if transactions_overview_data.etf
                li: chart(
                        name="transactions-overview-etf",
                        :is-stock="false",
                        type="column",
                        height="400",
                        options="{{ transactions_overview_data.etf.options }}",
                        :series="{{ transactions_overview_data.etf.data|to_json }}"
                    )

        div(class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid)
            div
                h2 {% trans "Open transactions" %}
                .uk-overflow-auto
                    table.uk-table.uk-table-small.uk-table-divider.uk-table-striped
                        thead
                            tr
                                th {% trans "Date" %}
                                th {% trans "Symbol" %}
                                th {% trans "Amount" %}
                                th {% trans "Price" %}
                                th {% trans "Deposit" %}
                                th
                                th
                        tbody
                            - for t in transactions
                                - ifchanged
                                    tr
                                        td(colspan="9"): h4 {{ t.date|date:"Y" }}
                                tr
                                    td
                                        a(href="{% url 'transactions:open_detail' t.pk %}" title="{{ t.date|date_to_datetime|naturaltime }}") {{ t.date }}
                                    td
                                        - if t.item.is_share
                                            a(href="{% url 'shares:share_detail' t.user_item %}") {{ t.item.symbol }}
                                        - elif t.item.is_coin
                                            a(href="{% url 'coins:coin_detail' t.user_item %}") {{ t.item.symbol }}
                                        - elif t.item.is_etf
                                            a(href="{% url 'etfs:etf_detail' t.user_item %}") {{ t.item.symbol }}

                                        - if t.note
                                            | &nbsp;
                                            i.bi.bi-question-circle-fill(title="{{ t.note }}")

                                        - if t.target
                                            | &nbsp;
                                            i.bi.bi-crosshair(title="{{ t.target_as_absolute_value }}")
                                    td {{ t.amount|intcomma }}
                                    td
                                        - if t.item.is_coin
                                            | {{ t.price|coinautofloatformat|default:"-" }}
                                        - else
                                            | {{ t.price|autofloatformat|default:"-" }}
                                    td
                                        - if t.is_deposit
                                            i.bi.bi-check2
                                    td
                                        a(href="{% url 'transactions:delete' t.pk %}", title="{% trans 'Delete transaction' %}")
                                            i.bi.bi-trash
                                    td
                                        a(href="{% url 'transactions:update' t.pk %}", title="{% trans 'Update transaction' %}")
                                            i.bi.bi-pencil

            div
                - include "transactions/_investment_vs_revenue_charts.pug"
    - else
        p.
            {% blocktrans %}
                No transactions yet.
            {% endblocktrans %}

    aside#new-transaction(uk-modal)
        .uk-modal-dialog.uk-modal-body
            h2.uk-modal-title {% trans "New transaction" %}
            form(method="post" enctype="multipart/form-data")
                - csrf_token
                - include "transactions/_transaction_form.pug"

                p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
                    button.uk-button.uk-button-default.uk-modal-close(type="button") {% trans "close" %}
                    | &nbsp;
                    button.uk-button.uk-button-primary(type="submit") {% trans "save" %}


- block post_js
    - if has_new_item
        script.
            window.addEventListener("load", () => UIkit.modal("#new-transaction").show());
