- extends "core/base.pug"

- load i18n

- block content

    - include "_title_bc.pug"

    form(method="post")
        - csrf_token

        h2 {% trans "Summary" %}

        p
            | You just closed/marked as closing transaction 
            a(href="{% url 'transactions:closed_detail' object.pk %}") {{ object }} 
            | but there are some:

        - if parents
        
            h2 {% trans "Open parents" %}

            ul.uk-list
                - for subwidget in form.parents.subwidgets
                    li
                        - with trans=subwidget.data.value.instance 
                            {{ subwidget }}
                            a(href="{% url 'transactions:open_detail' trans.pk %}" target="_blank") {{ trans }}

            p {% trans "Check those you want to close." %}

        - if stakings
        
            h2 {% trans "Unsold stakings (inc. all parents)" %}
            {{ form.stakings }}
            
            p {% trans "Check those you want to mark as sold." %}

        p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
            a.uk-button.uk-button-default.uk-margin-bottom(href="{% url 'shares:overview' %}") {% trans "cancel" %}
            button.uk-button.uk-button-primary.uk-margin-bottom(type="submit") {% trans "save" %}
