- load i18n

h2 {% trans "Comparison chart" %}
div(style="min-height: 570px")
    item-chart(
        name="overview",
        url="{% url 'coins:overview_fetch' %}",
        height="570",
        :percents="true",
        :multiple-series="true"
        :is-coin="true"
    )
