- extends "core/base.pug"

- load i18n
- load widget_tweaks
- load utils
- load items

- block content

    - include "_title_bc.pug"

    - if coin_list
        - if staking_ratio_chart_options

            div(uk-grid)
                div(class="uk-width-2-3@m uk-width-1-1@s")
                    - include "coins/_comparison_chart.pug"
                div(class="uk-width-1-3@m uk-width-1-1@s")
                    h2 {% trans "Staking ratio" %}
                    highcharts(:options="{{ staking_ratio_chart_options|to_json }}")
        - else
            - include "coins/_comparison_chart.pug"

    p.uk-text-right
        button.uk-button.uk-button-primary(type="button" class="uk-width-expand@s uk-width-auto@m" uk-toggle="target: #new-coin")
            i.bi.bi-plus
            | 
            | {% trans "new coin" %}
    
    - if open_coins_list
        h2 {% trans "Open coins" %}
        .uk-overflow-auto
            - include "coins/_overview_table.pug" with items=open_coins_list possession_stats=possession_stats is_open=True

    h2 {% trans "Coins" %}
    - if coin_list
        .uk-overflow-auto
            - include "coins/_overview_table.pug" with items=coin_list

    - else
        p.
            {% blocktrans %}
                No coins on watchlist.
            {% endblocktrans %}

    aside#new-coin(uk-modal)
        .uk-modal-dialog.uk-modal-body
            h2.uk-modal-title {% trans "New coin" %}
            form(method="post")
                - csrf_token
                - include "_form_field.pug" with field=form.symbol
                - include "_form_field.pug" with field=form.coin_id
                - include "_form_field.pug" with field=form.show_in_overview
                - include "_form_field.pug" with field=form.show_in_news
                - include "_form_field.pug" with field=form.show_on_dashboard
                - include "_form_field.pug" with field=form.note

                p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
                    button.uk-button.uk-button-default.uk-modal-close(type="button") {% trans "close" %}
                    | &nbsp;
                    button.uk-button.uk-button-primary(type="submit") {% trans "save" %}
