- extends "core/base.pug"

- load i18n
- load widget_tweaks

- block content

    {% trans "Update coin" as title %}
    - include "_title_bc.pug" with title=title

    form(method="post")
        - csrf_token
        - include "_form_field.pug" with field=form.symbol
        - include "_form_field.pug" with field=form.coin_id
        - include "_form_field.pug" with field=form.show_in_overview
        - include "_form_field.pug" with field=form.show_in_news
        - include "_form_field.pug" with field=form.show_on_dashboard
        - include "_form_field.pug" with field=form.note
        - include "_form_field.pug" with field=form.is_archived

        p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
            a.uk-button.uk-button-default(href="{% url 'coins:overview' %}") {% trans "cancel" %}
            | &nbsp;
            button.uk-button.uk-button-primary(type="submit") {% trans "save" %}
