- load i18n
- load utils
- load items
- load humanize
    
h2
    - if object.item.is_coin
        item-price(symbol="{{ object.item.symbol }}" :default-value="{{ last_price_rounded|to_json }}")
    - elif object.item.is_index
        span
            span {{ last_price_rounded.price }}
    - else
        item-price(symbol="{{ object.item.symbol }}" :default-value="{{ last_price_rounded|to_json }}")

#basic-info.uk-margin-bottom(class="uk-child-width-expand@s" uk-grid)
    div
        ul.uk-list
            - with change=object.item.get_last_day_perc_change
                - if change
                    li
                        i.bi.bi-calendar-event.uk-margin-small-right(title="{% trans 'Last move' %}")
                        - if object.item.is_coin
                            | {{ change|move_arrow }} {{ change|coinautofloatformat }}%
                        - else
                            | {{ change|move_arrow }} {{ change|autofloatformat }}%

                        - with perc_change=object.item.get_last_day_compounded_perc_change
                            - if perc_change
                                - if object.item.is_coin
                                    | ({{ perc_change|coinautofloatformat }}%)
                                - else
                                    | ({{ perc_change|autofloatformat }}%)

            li
                i.bi.bi-calendar-fill.uk-margin-small-right(title="{% trans 'Year over year change' %}")
                | {{ basic_info.yoy_change|move_arrow }}
                - if object.item.is_coin
                    | {{ basic_info.yoy_change|coinautofloatformat|default:"-" }}%
                - else
                    | {{ basic_info.yoy_change|autofloatformat|default:"-" }}%

            {% get_owned_items object as items %}
            {% get_owned_items_sum object as items_sum %}
            - if items and items_sum
                li
                    i.bi.bi-cart.uk-margin-small-right(title="{% trans 'Current wealth' %}")
                    span(title="{% trans 'Investment' %}") {{ items.value|floatformat|intcomma }}
                    | &nbsp; -> &nbsp;
                    span(title="{% trans 'Market value' %}") {{ items_sum.value|floatformat|intcomma }}
                    | &nbsp;
                    span(title="{% trans 'Amount' %}") ({{ items.amount|autofloatformat|intcomma }})

            li
                i.bi.bi-arrow-bar-up.uk-margin-small-right(title="{% trans 'All time high' %}")
                - if ath
                    - if object.item.is_coin
                        | {{ ath.price|coinautofloatformat }}
                    - else
                        | {{ ath.price|autofloatformat }}
                    | ({{ ath.datetime|date }})

                - else
                    | -

            li
                i.bi.bi-arrow-bar-down.uk-margin-small-right(title="{% trans 'Current drawdown' %}")
                - if drawdown
                    - if object.item.is_coin
                        | {{ drawdown|coinautofloatformat }}%
                    - else
                        | {{ drawdown|autofloatformat }}%

                    |&nbsp;
                    span(title="{% get_needed_drawdown_gain drawdown %}") ({% get_drawdown_market_name drawdown %})

                - else 
                    | -

            - if object.item.is_share
                li
                    i.bi.bi-clipboard-pulse.uk-margin-small-right.uk-float-left
                    ul.uk-list.uk-list-bullet.uk-list-collapse.uk-margin-left
                        li {% trans "PE Ratio" %} {{ basic_info.pe_ratio|floatformat|default:"-" }}
                        li {% trans "EPS" %} {{ basic_info.eps|floatformat|default:"-" }}

            - if object.item.is_etf
                li
                    i.bi.bi-clipboard-pulse.uk-margin-small-right.uk-float-left
                    ul.uk-list.uk-list-bullet.uk-list-collapse.uk-margin-left
                        li {% trans "PE Ratio" %} {{ basic_info.pe_ratio|default:"-" }}
                        li {% trans "Alpha" %} {{ basic_info.alpha|default:"-" }}
                        li {% trans "60 month beta" %} {{ basic_info.60_month_beta|default:"-" }}
                    

            - if object.note
                li
                    i.bi.bi-sticky.uk-margin-small-right(title="{% trans 'Note' %}")
                    | {{ object.note }}

    div

        ul.uk-list

            - if object.item.is_share or object.item.is_etf
                li
                    i.bi.bi-card-text.uk-margin-small-right(title="{% trans 'Description' %}")
                    | {{ basic_info.description|default:"-" }}
            
            - if object.item.is_etf
                li
                    i.bi.bi-eyeglasses.uk-margin-small-right(title="{% trans 'Index tracked' %}")
                    | {{ basic_info.index_tracked|default:"-" }}

            - if object.item.is_coin
                li
                    i.bi.bi-ladder.uk-margin-small-right(title="{% trans 'Rank' %}")
                    | {{ basic_info.rank|default:"-" }}

            - if object.item.is_share or object.item.is_coin
                li
                    i.bi.bi-piggy-bank.uk-margin-small-right(title="{% trans 'Market cap' %}")
                    | {{ basic_info.market_cap|intword|default:"-" }}
            
            - if object.item.is_etf
                li
                    i.bi.bi-piggy-bank.uk-margin-small-right(title="{% trans 'Assets under management' %}")
                    | {{ basic_info.managed_assets|default:"-" }}

            - if not object.item.is_etf
                li.meter
                    div.uk-flex
                        div.uk-width-2-3
                            i.bi.bi-arrow-down-up.uk-margin-small-right(title="{% trans 'Year low - high' %}")
                            - if basic_info.year_low and basic_info.year_high
                                - if object.item.is_coin
                                    | {{ basic_info.year_low|coinautofloatformat|default:"-" }} - {{ basic_info.year_high|coinautofloatformat|default:"-" }}
                                - else
                                    | {{ basic_info.year_low|autofloatformat|default:"-" }} - {{ basic_info.year_high|autofloatformat|default:"-" }}
                            - else
                                | -
                        div.uk-width-1-3
                            meter.uk-progress(min="{{ basic_info.year_low }}" max="{{ basic_info.year_high }}" value="{{ last_price.price }}" style="margin: 5px 0;")

            - if object.item.is_share
                li
                    i.bi.bi-coin.uk-margin-small-right(title="{% trans 'Dividends' %}")
                    - if basic_info.has_dividends
                        a(href="{% url 'shares:dividends' object.pk %}") {{ object.item.share.dividend_set.last.yield_value|floatformat:2 }}%
                    - else
                        {% trans "no" %}

            - if object.item.is_etf
                li
                    i.bi.bi-cash-stack.uk-margin-small-right(title="{% trans 'Expense ratio' %}")
                    | {{ basic_info.expense_ratio|default:"-" }}
                li
                    i.bi.bi-boxes.uk-margin-small-right(title="{% trans 'Holdings' %}")
                    - if holdings
                        a(href="#") Holdings
                        .uk-card.uk-card-body.uk-card-default.uk-width-large.uk-overflow-auto(uk-drop="mode: click; flip: false")
                            table.uk-table.uk-table-small.uk-table-divider.uk-table-hover
                                thead
                                    tr
                                        th {% trans "Symbol" %}
                                        th {% trans "Name" %}
                                        th {% trans "Holding" %}
                                tbody
                                    - for h in holdings
                                        tr
                                            td {{ h.0 }}
                                            td {{ h.1 }}
                                            td {{ h.2 }}%
                    - else
                        {% trans "-" %}
