- extends "core/base.pug"

- load i18n

- block content

    - if basic_info.company_name
        - include "_title_bc.pug" with title=object.item.symbol|add:" - "|add:basic_info.company_name chip=headline_chip_text chip2=basic_info.market
    - else
        - include "_title_bc.pug" with title=object.item.symbol chip=headline_chip_text chip2=basic_info.market

    .uk-text-right
        a.uk-button.uk-button-primary(href="{% url 'shares:the_eye' object.pk %}" class="uk-width-expand@s uk-width-auto@m")
            i.bi.bi-bank
            | 
            | {% trans "market live" %}
        | &nbsp;
        a.uk-button.uk-button-primary(href="{% url 'transactions:open' %}?new={{ object.item.pk }}" class="uk-width-expand@s uk-width-auto@m")
            i.bi.bi-plus
            | 
            | {% trans "new transaction" %}
        | &nbsp;
        a.uk-button.uk-button-primary(href="{% url 'shares:update_share' object.pk %}" class="uk-width-expand@s uk-width-auto@m")
            i.bi.bi-pencil
            | 
            | {% trans "update" %}

    ul(uk-tab="swiping: false" uk-switcher)
        li: a(href="#") {% trans "info" %}
        li: a(href="#") {% trans "news" %}
        // li: a(href="#") {% trans "predictions" %}

    ul.uk-switcher.uk-margin
        li
            - include "item_detail/_basic_info.pug" with object=object
            - include "shares/detail/_basic.pug"

        li
            ul(uk-tab="swiping: false" uk-switcher)
                li: a(href="#") {% trans "articles" %}
                li: a(href="#") {% trans "videos" %}
            ul.uk-switcher.uk-margin
                li: news(symbol="{{ object.item.symbol }}" from="{{ news_from }}" to="{{ news_to }}")
                li: news(symbol="{{ object.item.symbol }}" from="{{ news_from }}" to="{{ news_to }}" :videos="true")

        // li
        //     - include "shares/detail/_predictions.pug"
