- extends "core/base.pug"

- load i18n
- load utils

- block content

    {% trans "dividends" as subtitle %}
    - include "_title_bc.pug" with title=object.item.symbol|add:" "|add:subtitle

    table.uk-table.uk-table-small.uk-table-divider.uk-table-striped
        thead
            tr
                th {% trans "Ex date" %}
                th {% trans "Yield" %}
                th {% trans "Amount" %}
                th {% trans "Record date" %}
                th {% trans "Payment date" %}
        tbody
            - for div in object_list

                - if div.is_in_future
                    tr
                        td(colspan="5"): h4 {% trans "Next" %}

                - else
                    - ifchanged
                        tr
                            td(colspan="5"): h4 {{ div.ex_date|date:"Y" }}
                tr
                    td
                        - if div.dividend_transaction
                            a(href="{% url 'transactions:dividend_detail' div.dividend_transaction %}") {{ div.payment_date }}
                        - else
                            | {{ div.payment_date }}
                    td {{ div.yield_value }}%
                    td {{ div.amount_value }}
                    td {{ div.record_date }}
                    td {{ div.payment_date}}
