- extends "core/base.pug"

- load i18n
- load utils
- load items
- load humanize

- block content

    {% trans "financials" as subtitle %}
    - include "_title_bc.pug" with title=object.item.symbol|add:" "|add:subtitle

    
    ul(uk-tab="swiping: false" uk-switcher)
        li: a(href="#") {% trans "Revenue" %}
        li: a(href="#") {% trans "EPS" %}
        li: a(href="#") {% trans "Ratings" %} 
        li: a(href="#") {% trans "Price ratings" %} 
    
    ul.uk-switcher.uk-margin
        li
            h2: {% trans "Revenue" %}

            highcharts(:options="{{ revenues_earnings_eps_chart_options|to_json }}")

            - if revenue_earnings_eps_rows|length
                .uk-overflow-auto
                    table.uk-table.uk-table-small.uk-table-divider.uk-table-striped.uk-table-hover
                        thead
                            tr
                                th {% trans "Period" %}
                                th {% trans "Revenue" %}
                                th {% trans "Earnings" %}
                                th {% trans "EPS" %}
                        tbody
                            - for date, revenue, earnings, eps in revenue_earnings_eps_rows
                                tr
                                    td {{ date|to_quarter_period }}
                                    td {{ revenue|floatformat|intcomma }}
                                    td {{ earnings|floatformat|intcomma }}
                                    td {{ eps|intcomma }}
        
        li
            h2: {% trans "EPS" %}
            
            highcharts(:options="{{ eps_chart_options|to_json }}")

            - if eps_rows|length
                .uk-overflow-auto
                    table.uk-table.uk-table-small.uk-table-divider.uk-table-striped.uk-table-hover
                        thead
                            tr
                                th {% trans "Period" %}
                                th {% trans "EPS estimated" %}
                                th {% trans "EPS actual" %}
                        tbody
                            - for date, eps_estimated, eps_actual in eps_rows
                                tr
                                    td {{ date|to_quarter_period }}
                                    td {{ eps_estimated|intcomma }}
                                    td {{ eps_actual|intcomma }}
        
        li
            h2: {% trans "Ratings" %}

            div(class="uk-child-width-1-1@s uk-child-width-1-4@m" uk-grid)

                - for title,options in ratings_chart_options
                    div
                        h3 {{ title }}
                        highcharts(:options="{{ options|to_json }}")

        li
            h2: {% trans "Price ratings" %}
            
            highcharts(:options="{{ price_ratings_chart_options|to_json }}")

            - if price_ratings_rows|length
                .uk-overflow-auto
                    table.uk-table.uk-table-small.uk-table-divider.uk-table-striped.uk-table-hover
                        thead
                            tr
                                th  {% trans "Date" %}
                                th  {% trans "Status" %}
                                th  {% trans "Analyst" %}
                                th  {% trans "Rating" %}
                                th  {% trans "Target price" %}
                        tbody
                            - for date, status, analyst, rating, price, before, after in price_ratings_rows
                                tr
                                    td {{ date }}
                                    td {{ status }}
                                    td {{ analyst }}
                                    td {{ rating }}
                                    td
                            
                                        - if before
                                            {{ after|move_arrow:before}}
                                            {{ before|autofloatformat }} -> {{ after|autofloatformat }}
                                        - else
                                            {{ after|autofloatformat }}
