- extends "core/base.pug"

- load i18n
- load widget_tweaks
- load utils

- block content

    - include "_title_bc.pug"

    - if share_list
        h2 {% trans "Comparison chart" %}
        div(style="min-height: 570px")
            item-chart(
                name="overview",
                url="{% url 'shares:overview_fetch' %}",
                height="570",
                :percents="true",
                :multiple-series="true"
            )

    p.uk-text-right
        button.uk-button.uk-button-primary(type="button" class="uk-width-expand@s uk-width-auto@m" uk-toggle="target: #new-share")
            i.bi.bi-plus
            | 
            | {% trans "new share" %}

    - if open_shares_list
        h2 {% trans "Open shares" %}
        .uk-overflow-auto
            - include "shares/_overview_table.pug" with items=open_shares_list possession_stats=possession_stats is_open=True
        
    h2 {% trans "Shares" %}
    - if share_list
        .uk-overflow-auto
            - include "shares/_overview_table.pug" with items=share_list

    - else
        p.
            {% blocktrans %}
                No shares on watchlist.
            {% endblocktrans %}

    aside#new-share(uk-modal)

        .uk-modal-dialog.uk-modal-body
            h2.uk-modal-title {% trans "New share" %}
            form(method="post")
                - csrf_token
                - include "_form_field.pug" with field=form.indexes
                - include "_form_field.pug" with field=form.symbol
                - include "_form_field.pug" with field=form.show_in_overview
                - include "_form_field.pug" with field=form.show_in_news
                - include "_form_field.pug" with field=form.show_on_dashboard
                - include "_form_field.pug" with field=form.note

                p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
                    button.uk-button.uk-button-default.uk-modal-close(type="button") {% trans "close" %}
                    | &nbsp;
                    button.uk-button.uk-button-primary(type="submit") {% trans "save" %}
