- extends "core/base.pug"

- load i18n
- load widget_tweaks
- load utils
- load items

- block content

    - include "_title_bc.pug"

    - if etf_list
        h2 {% trans "Comparison chart" %}
        div(style="min-height: 570px")
            item-chart(
                name="overview",
                url="{% url 'etfs:overview_fetch' %}",
                height="570",
                :percents="true",
                :multiple-series="true"
            )

    p.uk-text-right
        button.uk-button.uk-button-primary(type="button" class="uk-width-expand@s uk-width-auto@m" uk-toggle="target: #new-etf")
            i.bi.bi-plus
            | 
            | {% trans "new etf" %}

    - if open_etfs_list
        h2 {% trans "Open ETFs" %}
        .uk-overflow-auto
            - include "etfs/_overview_table.pug" with items=open_etfs_list possession_stats=possession_stats is_open=True

    h2 {% trans "ETFs" %}
    - if etf_list
        .uk-overflow-auto
            - include "etfs/_overview_table.pug" with items=etf_list

    - else
        p.
            {% blocktrans %}
                No ETFs on watchlist.
            {% endblocktrans %}

    aside#new-etf(uk-modal)

        .uk-modal-dialog.uk-modal-body
            h2.uk-modal-title {% trans "New etf" %}
            form(method="post")
                - csrf_token
                - include "_form_field.pug" with field=form.indexes
                - include "_form_field.pug" with field=form.symbol
                - include "_form_field.pug" with field=form.show_in_overview
                - include "_form_field.pug" with field=form.show_in_news
                - include "_form_field.pug" with field=form.show_on_dashboard
                - include "_form_field.pug" with field=form.note

                p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
                    button.uk-button.uk-button-default.uk-modal-close.uk-margin-bottom(type="button") {% trans "close" %}
                    button.uk-button.uk-button-primary.uk-margin-bottom(type="submit") {% trans "save" %}
