- extends "core/base.pug"

- load i18n

- block content

    - include "_title_bc.pug"

    form(method="post")
        - csrf_token
        - include "_form_field.pug" with field=form.share
        - include "_form_field.pug" with field=form.date is_datepicker=True
        - include "_form_field.pug" with field=form.ratio
        
        p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
            a.uk-button.uk-button-default.uk-margin-bottom(href="{% url 'shares:overview' %}") {% trans "cancel" %}
            button.uk-button.uk-button-primary.uk-margin-bottom(type="submit") {% trans "preview" %}
