- extends "core/base.pug"

- load i18n
- load mathfilters

- block content

    - include "_title_bc.pug"

    form(method="post")
        - csrf_token

        h2 {% trans "Summary" %}

        p
            | You are about to split 
            a(href="{% url 'shares:share_detail' share.pk %}") {{ share.symbol }} 
            | with ratio {{ ratio }}:1 prior {{ date|date }}.
            br
            | Also whole price history will be reset.

        - if transactions
        
            h2 {% trans "Transactions to be updated" %}

            ul.uk-list.uk-list-divider
                - for trans in transactions
                    li

                        dl.uk-description-list
                            dt {% trans "transaction" %}
                            dd
                                - if trans.closed_on
                                    a(href="{% url 'transactions:closed_detail' trans.pk %}") # {{ trans.pk }} - {{ trans.date }}
                                - else
                                    a(href="{% url 'transactions:open_detail' trans.pk %}") # {{ trans.pk }} - {{ trans.date }}

                            dt {% trans "price" %}
                            dd {{ trans.price }} -> {{ trans.price|div:ratio }}

                            dt {% trans "amount" %}
                            dd {{ trans.amount|floatformat }} -> {{ trans.amount|floatformat|mul:ratio }}

        p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
            a.uk-button.uk-button-default.uk-margin-bottom(href="{% url 'shares:overview' %}") {% trans "cancel" %}
            button.uk-button.uk-button-primary.uk-margin-bottom(type="submit") {% trans "split" %}
