- load static
- load i18n
- load sitetree
- load widget_tweaks

!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

        //- Favicon
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="manifest", href="/site.webmanifest")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#2962ff")
        meta(name="msapplication-TileColor", content="#2962ff")
        meta(name="theme-color", content="#ffffff")

        title {% sitetree_page_title from "main" %}

        - include "core/_js_css.pug"
    body

        #content

            //-
                Topbar
            .uk-light(uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky")
                nav.uk-navbar-container.uk-padding.uk-padding-remove-top.uk-padding-remove-bottom(uk-navbar)
                    .uk-navbar-left(class="uk-hidden@m")
                        a(href="#menu-offcanvas" uk-toggle)
                            i.bi.bi-list

                    .uk-navbar-right
                        .uk-navbar-item(class="uk-visible@m")
                            - include "_menu_search.pug"
                        .uk-navbar-item(class="uk-visible@m")
                            | {{ user.email }}
                        ul.uk-navbar-nav
                            li: a(href="{% url 'core:sign_out' %}" title="{% trans 'Sign out' %}"): i.bi.bi-box-arrow-right

            //-
                Desktop
            .richy-sidebar-left(class="uk-visible@m")
                - sitetree_menu from "main" include "trunk" template "_menu.pug"
                - include "_submenu_dynamic.pug" with items=submenu_dynamic
                - sitetree_menu from "main" include "this-children" template "_submenu_sitetree.pug"
            
            //-
                Mobile
            #menu-offcanvas(uk-offcanvas="mode: push")
                .uk-offcanvas-bar
                    .uk-margin-bottom
                        - include "_menu_search.pug"
                    - sitetree_menu from "main" include "trunk" template "_menu.pug"
                    - include "_submenu_dynamic.pug" with items=submenu_dynamic
                    - sitetree_menu from "main" include "this-children" template "_submenu_sitetree.pug"

            main
                - include "_fm.pug"
                {% block content %}{% endblock %}

        script(src="https://code.highcharts.com/stock/11.3.0/highstock.js")
        //- script(src="https://code.highcharts.com/stock/11.3.0/modules/mouse-wheel-zoom.js")
        //- script(src="https://code.highcharts.com/stock/11.3.0/modules/draggable-points.js")
        script(src="https://code.highcharts.com/stock/11.3.0/modules/exporting.js")
        //- script(src="https://code.highcharts.com/stock/11.3.0/modules/offline-exporting.js")
        //- script(src="https://code.highcharts.com/stock/11.3.0/modules/export-data.js")

        script.
            Highcharts.theme = {
                colors: {{ settings.CHART_COLORS|safe }}
            }
            Highcharts.setOptions(Highcharts.theme)

            window.settings = {
                VERSION: "{{ settings.VERSION|safe }}",
                MAX_PRECISION: "{{ settings.MAX_PRECISION|safe }}",
                COINS_MAX_PRECISION: "{{ settings.COINS_MAX_PRECISION|safe }}"
            }

        - include "core/_post_js.pug"
        {% block post_js %}{% endblock%}
