- extends "core/base.pug"

- load i18n
- load utils
- load humanize

- block content

    - include "_title_bc.pug"

    h2.uk-margin {% trans "Portfolio overview" %}
    .uk-grid-small.uk-margin-medium-bottom(uk-grid)
        - for currency, stats in portfolio_stats.investment_and_market_value.items
            div(class="uk-width-1-1@s uk-width-1-2@l uk-width-1-3@xl")
                .uk-card.uk-card-default.uk-card-body
                    h4 {{ currency }}

                    .uk-grid-small(uk-grid)
                        .uk-width-expand(uk-leader) {% trans "Net worth" %}
                        div {{ stats|lookup:"Market value"|autofloatformat|intcomma }}

                    .uk-grid-small.uk-margin-bottom(uk-grid)
                        .uk-width-expand(uk-leader) {% trans "Investment" %}
                        div {{ stats|lookup:"Investment"|autofloatformat|intcomma }}

                    chart(
                        name="market-value-ratio-pie-chart-{{ currency }}",
                        :is-stock="false",
                        type="pie",
                        height="250",
                        :series="{{ portfolio_stats.market_value_ratio_chart_data|lookup:currency|to_json }}"
                    )
                    
    {% url "transactions:open" as transactions_url %}

    h2.uk-margin {% trans "Instruments" %}

    ul(uk-tab="swiping: false" uk-switcher)
        li: a(href="#") {% trans "Shares" %}
        li: a(href="#") {% trans "Indexes" %}
        li: a(href="#") {% trans "ETFs" %}
        li: a(href="#") {% trans "Coins" %}

    ul.uk-switcher.uk-margin
        li(uk-filter="target: .js-filter")

            - if all_share_tags
                ul.uk-subnav.uk-subnav-pill.uk-margin-bottom
                    li.uk-active(uk-filter-control=""): a(href="#") {% trans "All" %}
                    - for tag in all_share_tags
                        li(uk-filter-control=".share-{{ tag }}"): a(href="#") {{ tag }}

            h3.uk-margin {% trans "Current investments" %}
            .uk-grid-small.uk-text-center.js-filter(class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@xl" uk-grid uk-height-match="> div > .uk-card")
                - for s in open_shares
                    - include "core/_dashboard_card.pug" with user_item=s.share chart=s.chart type="share" precision=settings.MAX_PRECISION
                    - empty
                        p.
                            {% blocktrans %}
                                No current investments. You can add some transactions <a href="{{ transactions_url }}">here</a>.
                            {% endblocktrans %}
                    
            h3.uk-margin
                - if open_shares
                    {% trans "Other shares" %}
                - else
                    {% trans "All shares" %}
            .uk-grid-small.uk-text-center.js-filter(class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@xl" uk-grid uk-height-match="> div > .uk-card")
                - for s in shares
                    - include "core/_dashboard_card.pug" with user_item=s.share chart=s.chart type="share" precision=settings.MAX_PRECISION
                    - empty
                        p.
                            {% url "shares:overview" as the_url %}

                            {% blocktrans %}
                                No shares on watchlist. You can add some <a href="{{ the_url }}">here</a>.
                            {% endblocktrans %}
        
        li(uk-filter="target: .js-filter")
            - if all_index_tags
                ul.uk-subnav.uk-subnav-pill.uk-margin-bottom
                    li.uk-active(uk-filter-control=""): a(href="#") {% trans "All" %}
                    - for tag in all_index_tags
                        li(uk-filter-control=".index-{{ tag }}"): a(href="#") {{ tag }}

            h3.uk-margin {% trans "All indexes" %}
            .uk-grid-small.uk-text-center.js-filter(class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@xl" uk-grid uk-height-match="> div > .uk-card")
                - for i in indexes
                    - include "core/_dashboard_card.pug" with user_item=i.index chart=i.chart type="index" precision=settings.MAX_PRECISION
                    - empty
                        p.
                            {% url "indexes:overview" as the_url %}

                            {% blocktrans %}
                                No indexes on watchlist. You can add some <a href="{{ the_url }}">here</a>.
                            {% endblocktrans %}
            
        li(uk-filter="target: .js-filter")
            - if all_etf_tags
                ul.uk-subnav.uk-subnav-pill.uk-margin-bottom
                    li.uk-active(uk-filter-control=""): a(href="#") {% trans "All" %}
                    - for tag in all_etf_tags
                        li(uk-filter-control=".etf-{{ tag }}"): a(href="#") {{ tag }}

            h3.uk-margin {% trans "Current investments" %}
            .uk-grid-small.uk-text-center.js-filter(class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@xl" uk-grid uk-height-match="> div > .uk-card")
                - for e in open_etfs
                    - include "core/_dashboard_card.pug" with user_item=e.etf chart=e.chart type="etf" precision=settings.MAX_PRECISION
                    - empty
                        p.
                            {% blocktrans %}
                                No current investments. You can add some transactions <a href="{{ transactions_url }}">here</a>.
                            {% endblocktrans %}
                    
            h3.uk-margin
                - if open_etfs
                    {% trans "Other ETFs" %}
                - else
                    {% trans "All ETFs" %}
            .uk-grid-small.uk-text-center.js-filter(class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l" uk-grid uk-height-match="> div > .uk-card")
                - for e in etfs
                    - include "core/_dashboard_card.pug" with user_item=e.etf chart=e.chart type="etf" precision=settings.MAX_PRECISION
                    - empty
                        p.
                            {% url "etfs:overview" as the_url %}

                            {% blocktrans %}
                                No ETFs on watchlist. You can add some <a href="{{ the_url }}">here</a>.
                            {% endblocktrans %}

        li(uk-filter="target: .js-filter")
            - if all_coin_tags
                ul.uk-subnav.uk-subnav-pill.uk-margin-bottom
                    li.uk-active(uk-filter-control=""): a(href="#") {% trans "All" %}
                    - for tag in all_coin_tags
                        li(uk-filter-control=".coin-{{ tag }}"): a(href="#") {{ tag }}
            
            h3.uk-margin {% trans "Current investments" %}
            .uk-grid-small.uk-text-center.js-filter(class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@xl" uk-grid uk-height-match="> div > .uk-card")
                - for c in open_coins
                    - include "core/_dashboard_card.pug" with user_item=c.coin chart=c.chart type="coin" precision=settings.COINS_MAX_PRECISION
                    - empty
                        p.
                            {% blocktrans %}
                                No current investments. You can add some transactions <a href="{{ transactions_url }}">here</a>.
                            {% endblocktrans %}
            
            h3.uk-margin
                - if open_shares
                    {% trans "Other coins" %}
                - else
                    {% trans "All coins" %}
            .uk-grid-small.uk-text-center.js-filter(class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@xl" uk-grid uk-height-match="> div > .uk-card")
                - for c in coins
                    - include "core/_dashboard_card.pug" with user_item=c.coin chart=c.chart type="coin" precision=settings.COINS_MAX_PRECISION
                    - empty
                        p.
                            {% url "coins:overview" as the_url %}

                            {% blocktrans %}
                                No coins on watchlist. You can add some <a href="{{ the_url }}">here</a>.
                            {% endblocktrans %}
