- extends "core/base.pug"

- load i18n
- load utils
- load items

- block content

    {% trans "drawdowns and ATHs" as subtitle %}
    - include "_title_bc.pug" with title=object.item.symbol|add:" "|add:subtitle

    chart(
        name="drawdown"
        height="550"
        type="line"
        :is-stock="true"
        :series="{{ aths_chart_series|to_json }}"
        options="{{ aths_chart_options }}"
    )

    - if drawdowns|length
        .uk-overflow-auto
            table.uk-table.uk-table-small.uk-table-divider.uk-table-striped.uk-table-hover
                thead
                    tr
                        th {% trans "Date" %}
                        th {% trans "Drawdown days" %}
                        th {% trans "ATH value" %}
                tbody
                    - for row in drawdowns
                        tr
                            td {{ row.datetime }}
                            td {{ row.days|floatformat:0 }}
                            td {{ row.ath }}

        - include "_paging.pug" with obj_list=drawdowns
