- extends "core/base.pug"

- load i18n
- load utils
- load items

- block content

    {% trans "historical data (60 days)" as subtitle %}
    - include "_title_bc.pug" with title=object.item.symbol|add:" "|add:subtitle

    - with object_list|split_by_months:"datetime" as data

        div(uk-grid)
            - for group in data
                div(class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l")
                    h2 {{ group.date }}
                
                    table.uk-table.uk-table-small.uk-table-divider(class="uk-width-large@m")
                        thead
                            tr
                                th {% trans "Date" %}
                                th {% trans "Price" %}
                                th {% trans "Change" %}
                        tbody
                            - for day in group.records
                                tr
                                    td {{ day.datetime|date }}
                                    td {{ day.price }}
                                    td(style="background: {% color_perc_change day.change min_change max_change %}")
                                        - if object.is_coin
                                            | {{ day.change|coinautofloatformat|default:"-" }}%
                                        - else
                                            | {{ day.change|autofloatformat|default:"-" }}%
                            tr(style="border-top-width: 2px")
                                - with group.records|sum_by:"change" as month_change
                                    td.uk-text-right.uk-text-bold(colspan="3")
                                        | ∑
                                        - if object.is_coin
                                            | {{ month_change|coinautofloatformat }}%
                                        - else
                                            | {{ month_change|autofloatformat }}%
                                        | {{ month_change|move_arrow }}


    - include "_paging.pug" with obj_list=page_obj
