- load static
- load i18n
- load widget_tweaks

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

        //- Favicon
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="manifest", href="/site.webmanifest")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")

        title {% trans "Sign-in" %}

        - include "core/_js_css.pug"
    body

        .uk-padding.uk-flex-center(class="uk-child-width-1-1@s uk-child-width-1-4@m" uk-grid)
            .uk-text-center
                img(src="{% static 'images/logo.svg' %}")

                - if form.non_field_errors
                    - for e in form.non_field_errors
                        .uk-alert-danger.uk-alert
                            p {{ e }}

                form(method="post")
                    - csrf_token

                    .uk-margin
                        .uk-inline(class="uk-width-expand@s")
                            a.uk-form-icon(href="#")
                                i.bi.bi-person
                            {{ form.username|add_class:"uk-input"}}
                    
                    .uk-margin
                        .uk-inline(class="uk-width-expand@s")
                            a.uk-form-icon(href="#")
                                i.bi.bi-key
                            {{ form.password|add_class:"uk-input"}}

                    .uk-margin
                        button.uk-button.uk-button-primary(class="uk-width-expand@s") {% trans "Let me in!" %}

        - include "core/_post_js.pug"
