- load sitetree

- if 1 < sitetree_items|length
    ul.uk-breadcrumb
        - for item in sitetree_items
            li
                - if forloop.last
                    span {{ item.title_resolved }}
                - else
                    a(href="{% sitetree_url for item %}" title="{{ item.hint }}")
                        | {{ item.title_resolved }}
