//- Takes following params:
//- - is_datepicker - renders field as date input

- load widget_tweaks
- load utils

.uk-margin

    - if field|is_select or field|is_multi_select
        label.uk-form-label(for="{{ field.auto_id }}") {{ field.label }}
        {% include "_field_help.pug" %}
        
        - if field.errors
            {{ field|add_class:"uk-select uk-form-danger" }}
        - else
            {{ field|add_class:"uk-select" }}

    - elif field.field.widget.attrs.cols
        label.uk-form-label(for="{{ field.auto_id }}") {{ field.label }}
        {% include "_field_help.pug" %}

        - if field.errors
            {{ field|add_class:"uk-textarea uk-form-danger" }}
        - else
            {{ field|add_class:"uk-textarea" }}

    - elif is_datepicker
        label.uk-form-label(id="{{ field.auto_id }}") {{ field.label }}
        {% include "_field_help.pug" %}

        - if field.errors
            {{ field|attr:"type:date"|add_class:"uk-input uk-form-danger"}}
        - else
            {{ field|attr:"type:date"|add_class:"uk-input"}}

    - elif field|is_file
        {{ field.label_tag }}
        {% include "_field_help.pug" %}

        - if field.help_text
            i.bi.bi-question-circle-fill(title="{{ field.help_text }}")

        br
        {{ field }}

    - elif field|is_checkbox
        label
            {{ field|add_class:"uk-checkbox" }}
            |
            {{ field.label }}
            {% include "_field_help.pug" %}

    - else
        label.uk-form-label(id="{{ field.auto_id }}") {{ field.label }}
        {% include "_field_help.pug" %}

        - if field.errors
            {{ field|add_class:"uk-input uk-form-danger"}}
        - else
            {{ field|add_class:"uk-input"}}

    - if field.errors|length
        - if field.errors
            p.richy-red.uk-margin-small-top {{ field.errors|join:"\n" }}
