- load widget_tweaks

form.uk-search(action="{% url 'core:search' %}" class=")

    span.uk-form-icon
        .bi.bi-search
    {{ search_form.query|attr:"list:all-symbols"|add_class:"uk-input"|attr:"type:search" }}

    datalist#all-symbols
        - for symbol in all_symbols
            option(value="{{ symbol }}") {{ symbol }}
