//- Takes following params:
//- obj_list: Page instance

ul.uk-pagination.uk-margin.uk-flex-center
    - if obj_list.has_previous
        li: a(href="?page={{ obj_list.previous_page_number }}"): span(uk-pagination-previous)

    - for page in pages
        - if "…" == page 
            li.uk-disabled: span …
        - elif page == obj_list.number
            li.uk-active: span {{ page }}
        - else
            li: a(href="?page={{ page }}") {{ page }}

    - if obj_list.has_next
        li: a(href="?page={{ obj_list.next_page_number }}"): span(uk-pagination-next)
