- load sitetree

- if sitetree_items

    - if not submenu_dynamic
        hr.uk-divider-icon

    ul.uk-nav.uk-nav-default
        - for item in sitetree_items
            li(class="{% if item.is_current %}uk-active{% endif %}")
                a(href="{% sitetree_url for item %}")
                    i.bi.uk-margin-small-right.bi-dot
                    | {{ item.title_resolved }}
