- load sitetree


ul.uk-nav-sub.uk-margin-left
    - for item in sitetree_items
        li(class="{% if item.is_current or item.in_current_branch %}uk-active{% endif %}")
            a(href="{% sitetree_url for item %}") {{ item.title_resolved }}
