- if items
    hr.uk-divider-icon


ul.uk-nav.uk-nav-default
    - for item in items
        li(class="{% if item.is_current %}uk-active{% endif %}")
            a(href="{{ item.url }}")
                i.bi.uk-margin-small-right.bi-dot
                | {{ item.title }}
