- load sitetree


{% sitetree_breadcrumbs from "main" template "_bc.pug" %}

.uk-margin-medium-bottom
    h1
        - if title
            {{ title }}
        - else
            {% sitetree_page_title from "main" %}

        - if chip
            span.uk-label {{ chip }}

        - if chip2
            span.uk-label {{ chip2 }}
