- load i18n
- load humanize
- load utils
- load items

ul.uk-margin-medium(uk-tab="swiping: false" uk-switcher)
    li: a(href="#") {% trans "Value" %}
    li: a(href="#") {% trans "Value %" %}
    li: a(href="#") {% trans "Drawdown" %}

ul.uk-switcher.uk-margin
    li
        item-chart(
            name="{{ object.get_symbol_slug }}",
            url="{% url 'indexes:index_fetch' object.pk %}",
            height="550",
            symbol="{{ object.item.symbol }}",
            :transactions="true",
            :smas="true",
            :ranges="{{ ranges }}"
        )

    li
        item-chart(
            name="{{ object.get_symbol_slug }}-percents",
            url="{% url 'indexes:index_fetch' object.pk %}",
            height="550",
            symbol="{{ object.item.symbol }}",
            :transactions="true",
            :percents="true",
            :ranges="{{ ranges }}"
        )
    li
        chart(
            name="drawdown"
            height="550"
            url="{% url 'core:drawdown_fetch' object.pk %}"
            type="area"
            :is-stock="true"
            options="{{ drawdown_options }}"
        )

.uk-margin
    - include "item_detail/_transactions.pug"
