- extends "core/base.pug"

- load i18n
- load widget_tweaks


- block content

    - include "_title_bc.pug" with title=object.item.symbol
    
    .uk-text-right
        a.uk-button.uk-button-primary(href="{% url 'indexes:the_eye' object.pk %}" class="uk-width-expand@s uk-width-auto@m")
            i.bi.bi-bank
            | 
            | {% trans "market live" %}
        | &nbsp;
        a.uk-button.uk-button-primary(href="{% url 'indexes:update_index' object.pk %}" class="uk-width-expand@s uk-width-auto@m")
            i.bi.bi-pencil
            | 
            | {% trans "update" %}

    ul(uk-tab="swiping: false" uk-switcher)
        li: a(href="#") {% trans "info" %}
        li: a(href="#") {% trans "news" %}

    ul.uk-switcher.uk-margin
        li
            - include "item_detail/_basic_info.pug" with object=object
            - include "indexes/detail/_basic.pug"
        li
            ul(uk-tab="swiping: false" uk-switcher)
                li: a(href="#") {% trans "articles" %}
                li: a(href="#") {% trans "videos" %}
            ul.uk-switcher.uk-margin
                li: news(symbol="{{ object.item.symbol }}" from="{{ news_from }}" to="{{ news_to }}")
                li: news(symbol="{{ object.item.symbol }}" from="{{ news_from }}" to="{{ news_to }}" :videos="true")
