- extends "core/base.pug"

- load i18n
- load widget_tweaks
- load utils
- load items

- block content

    - include "_title_bc.pug"

    - if index_list 
        h2 {% trans "Comparison chart" %}
        div(style="min-height: 570px")
            item-chart(
                name="overview",
                url="{% url 'indexes:overview_fetch' %}",
                height="570",
                :percents="true",
                :multiple-series="true"
            )

    h2 {% trans "Indexes" %}
    p.uk-text-right
        button.uk-button.uk-button-primary(type="button" class="uk-width-expand@s uk-width-auto@m" uk-toggle="target: #new-index")
            i.bi.bi-plus
            | 
            | {% trans "new index" %}
    
    - if index_list 
        .uk-overflow-auto
            table.uk-table.uk-table-small.uk-table-divider.uk-table-striped.uk-table-hover
                thead
                    tr
                        th {% trans "Symbol" %}
                        th {% trans "Score" %}
                        th {% trans "Day move" %}
                        th {% trans "Week move" %}
                        th {% trans "Month move" %}
                        th(title="{% trans 'Dashboard/News/Overview' %}") {% trans "D/N/O" %}
                        th
                        th
                        th
                tbody
                    - for i in index_list
                        - ifchanged i.is_archived
                            - if i.is_archived
                                tr
                                    td(colspan="10"): h4 {% trans "Archived" %}
                        tr
                            td
                                a(href="{% url 'indexes:index_detail' i.pk %}", title="{% trans 'Index detail' %}")
                                    | {{ i.item.symbol }}
                            td {{ i.item.get_last_price.price|floatformat:2 }}
                            td
                                - with change=i.item.get_last_day_perc_change
                                    {{ change|move_arrow }} {{ change|floatformat:2 }} %
                            td
                                - with change=i.item.get_last_week_perc_change
                                    {{ change|move_arrow }} {{ change|floatformat:2 }} %
                            td
                                - with change=i.item.get_last_month_perc_change
                                    {{ change|move_arrow }} {{ change|floatformat:2 }} %
                            td
                                - if i.show_on_dashboard
                                    i.bi.bi-check2
                                - else
                                    i.bi.bi-ban
                                | &nbsp;

                                - if i.show_in_news
                                    i.bi.bi-check2
                                - else
                                    i.bi.bi-ban
                                | &nbsp;

                                - if i.show_in_overview
                                    i.bi.bi-check2
                                - else
                                    i.bi.bi-ban
                            td
                                a(href="{% url 'indexes:delete_index' i.pk %}", title="{% trans 'Delete index' %}")
                                    i.bi.bi-trash
                            td
                                a(href="{% url 'indexes:update_index' i.pk %}", title="{% trans 'Update index' %}")
                                    i.bi.bi-pencil
                            td
                                a(href="{% url 'indexes:reset_index' i.pk %}", title="{% trans 'Reset index' %}")
                                    i.bi.bi-arrow-repeat

    - else
        p.
            {% blocktrans %}
                No index on watchlist.
            {% endblocktrans %}

    aside#new-index(uk-modal)

        .uk-modal-dialog.uk-modal-body
            h2.uk-modal-title {% trans "New index" %}
            form(method="post")
                - csrf_token
                - include "_form_field.pug" with field=form.symbol
                - include "_form_field.pug" with field=form.show_in_overview
                - include "_form_field.pug" with field=form.show_in_news
                - include "_form_field.pug" with field=form.show_on_dashboard
                - include "_form_field.pug" with field=form.note

                p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
                    button.uk-button.uk-button-default.uk-modal-close(type="button") {% trans "close" %}
                    | &nbsp;
                    button.uk-button.uk-button-primary(type="submit") {% trans "save" %}
