- load i18n 
- load utils
- load transactiontags

table.uk-table.uk-table-small.uk-table-divider.uk-table-striped
    thead
        tr
            th {% trans "Start" %}
            th {% trans "End" %}
            th {% trans "Symbol" %}
            th {% trans "Exchange" %}
            th {% trans "Amount" %}
            th {% trans "Reward" %}
            th {% trans "Rel. transaction" %}
            th {% trans "Sold" %}
            th {% trans "Attachments" %}
            th
            th
    tbody
        - for s in stakings
            - ifchanged
                tr
                    td(colspan="11"): h4 {{ s.start|date:"Y" }}
            tr
                td {{ s.start }}
                td {{ s.end }}
                td
                    a(href="{% url 'coins:coin_detail' s.item.pk %}") {{ s.item.symbol }}

                    - if s.note
                        | &nbsp;
                        i.bi.bi-question-circle-fill(title="{{ s.note }}")
                td {{ s.exchange }}
                td {{ s.amount }}
                td {{ s.reward_amount }}
                td
                    - if s.transaction
                        a(href="{% transaction_url s.transaction %}") {{ s.transaction.pk }}
                td
                    - if s.is_sold
                        i.bi.bi-check2
                td
                    - for a in s.attachment_set.all
                        a(href="{{ a.file.url }}")
                            | {{ a.file.name|filename }}
                        | &nbsp;
                td
                    a(href="{% url 'staking:delete' s.pk %}", title="{% trans 'Delete staking' %}")
                        i.bi.bi-trash
                td
                    a(href="{% url 'staking:update' s.pk %}", title="{% trans 'Update staking' %}")
                        i.bi.bi-pencil
