- load widget_tweaks

- include "_form_field.pug" with field=form.item
- include "_form_field.pug" with field=form.exchange
- include "_form_field.pug" with field=form.start is_datepicker=True
- include "_form_field.pug" with field=form.end is_datepicker=True
- include "_form_field.pug" with field=form.amount
- include "_form_field.pug" with field=form.reward_amount
- include "_form_field.pug" with field=form.transaction
- include "_form_field.pug" with field=form.note
- include "_form_field.pug" with field=form.attachments
- include "_form_field.pug" with field=form.is_sold
