- extends "core/base.pug"

- load i18n
- load utils

- block content

    - include "_title_bc.pug"

    p.uk-text-right
        button.uk-button.uk-button-primary(type="button" class="uk-width-expand@s uk-width-auto@m" uk-toggle="target: #new-staking")
            i.bi.bi-plus
            | 
            | {% trans "new staking" %}

    - if stakings
        div
            h2 {% trans "Open stakings" %}
            .uk-overflow-auto
                - include "staking/_list_table.pug" with stakings=stakings

    aside#new-staking(uk-modal)
        .uk-modal-dialog.uk-modal-body
            h2.uk-modal-title {% trans "New staking" %}
            form(method="post" enctype="multipart/form-data")
                - csrf_token
                - include "staking/_staking_form.pug"

                p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
                    button.uk-button.uk-button-default.uk-modal-close(type="button") {% trans "close" %}
                    | &nbsp;
                    button.uk-button.uk-button-primary(type="submit") {% trans "save" %}


    - if has_new_item
        script.
            UIkit.modal("#new-staking").show();
