<template lang="pug">

.uk-flex.richy-hand(v-on:click="refresh")
    .uk-grid-small(uk-grid v-if="value.closed_market.price")
        .uk-margin-small-right(class="uk-width-1-1@s uk-width-auto@m")
            span {{ value.closed_market.price }}
            small.uk-text-default.uk-margin-small-left(:class="{'richy-red': '-' == value.closed_market.change_value[0], 'richy-green': '-' != value.closed_market.change_value[0]}")
                | {{ value.closed_market.change_value }} ({{ value.closed_market.change_percents }}%)
        .uk-flex(class="uk-width-1-1@s uk-width-auto@m")
            span
                span {{ value.price }}
                small.uk-text-default.uk-margin-small-left(:class="{'richy-red': '-' == value.change_value[0], 'richy-green': '-' != value.change_value[0]}")
                    | {{ value.change_value }} ({{ value.change_percents }}%)
            span(class="uk-flex-first@m")
                span.uk-text-large(class="uk-margin-small-left uk-margin-small-right")
                    i.bi.bi-brightness-alt-high-fill(v-if="value.state == 'pre-market'" style="position: relative; bottom: -4px")
                    i.bi.bi-moon-fill(v-if="value.state == 'post-market'")
    
    span(v-else)
        span
            span {{ value.price }}
            small.uk-text-default.uk-margin-small-left(:class="{'richy-red': '-' == value.change_value[0], 'richy-green': '-' != value.change_value[0]}")
                | {{ value.change_value }} ({{ value.change_percents }}%)

    loading(ref="loading" :no-text="true")

</template>


<script>

import loading from "./loading.vue"

export default {
    components: {
        loading,
    },
    props:{
        symbol: {default: null},
        defaultValue: {default: null},
        moveId: {default: null}
    },
    data() {
        return {
            value: null,
        }
    },
    methods: {
        /**
         * Downloads data from server and fill in current price (local value) and
         * HTML containing market state, move arrow and percentage change (foreign value).
         */
        refresh() {

            this.$refs.loading.start()

            fetch("/core/item/"+this.symbol+"/current-price/")
            .then(response => response.json())
            .then(response => {
                if (response.status) {
                    this.value = response.data
                }
            })
            .finally(() => this.$refs.loading.stop())
        }
    },
    created() {
        this.value = this.defaultValue
    }
}

</script>
