.loading
  @keyframes rotate
    0%
      transform: rotate(0deg)

    100%
      transform: rotate(360deg)

  margin-left: 5px

  &.in-container
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)

  i::before
    animation: rotate 2s infinite linear
