.meter
  .min
    float: left

    + meter
      clear: both
  .max
    float: right

    + meter
      clear: both

  .with-prefix
    display: flex

    div:first-child
      text-align: right
      margin-right: 1rem

    div:nth-child(2)
      width: 100%

  meter
    background: #ececec
    margin: 0
    min-width: 80px

    &::-moz-meter-bar
      background: #1e87f0
      border-radius: 500px
