@use "_meter"
@use "_dashboard"
@use "_loading"
@use "_chart"

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')

$primary: #1e87f0
$secondary: #eee

html
  font-weight: 300

.richy-green
  color: #00C853

.richy-red
  color: #EF476F

.richy-sidebar-left
  position: fixed
  top: 80px
  bottom: 0
  box-sizing: border-box
  width: 300px !important
  padding: 45px 45px 60px 45px
  border-right: 1px #e5e5e5 solid
  overflow: auto

.richy-flex-gap
  gap: 15px

.richy-hand
  cursor: pointer

main
  padding: 20px

@media(min-width: 960px)
  main
    margin-left: 300px
    padding: 45px



// UI Kit overrides
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6
  font-weight: inherit

.uk-navbar-container
  background-color: $primary !important

  i
    color: #fff

.uk-label
  font-size: 12px

table
  font-size: 14px
  white-space: nowrap
